<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MarcacionVirtual.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDelfinService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apps.delfingroupco.com.pe:766/DelfinService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelfinService"
                contract="AppService.IDelfinService" name="BasicHttpBinding_IDelfinService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <MarcacionVirtual.My.MySettings>
            <setting name="SharePoint_Url" serializeAs="String">
                <value>https://delfingrouppe.sharepoint.com/sites/ITSupport</value>
            </setting>
            <setting name="SharePoint_User" serializeAs="String">
                <value>sharepoint@delfingroupco.com.pe</value>
            </setting>
            <setting name="SharePoint_Password" serializeAs="String">
                <value>Sh@rep0int</value>
            </setting>
            <setting name="LookAndFeel" serializeAs="String">
                <value />
            </setting>
        </MarcacionVirtual.My.MySettings>
    </userSettings>
</configuration>