<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Integrador.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IDelfinServiceTest" closeTimeout="00:50:00"
          openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="BasicHttpBinding_IDelfinService" closeTimeout="00:50:00"
          openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://apps.delfingroupco.com.pe:766/DelfinServiceTest.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelfinServiceTest"
        contract="AppServiceTest.IDelfinServiceTest" name="BasicHttpBinding_IDelfinServiceTest" />
      <endpoint address="http://apps.delfingroupco.com.pe:766/DelfinService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelfinService"
        contract="AppService.IDelfinService" name="BasicHttpBinding_IDelfinService" />
    </client>
  </system.serviceModel>
  <userSettings>
    <Integrador.My.MySettings>
      <setting name="DBConnectionString" serializeAs="String">
        <value />
      </setting>
      <setting name="WebServiceURL" serializeAs="String">
        <value />
      </setting>
      <setting name="LookAndFeel" serializeAs="String">
        <value>VS2010</value>
      </setting>
      <setting name="PaintStyle" serializeAs="String">
        <value>ExplorerBar</value>
      </setting>
      <setting name="LastUser" serializeAs="String">
        <value />
      </setting>
      <setting name="LastDomain" serializeAs="String">
        <value />
      </setting>
      <setting name="MessageLogOnError" serializeAs="String">
        <value>El usuario o la contraseña no son válidos, por favor verifique y trate nuevamente.</value>
      </setting>
      <setting name="SpeechEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="RoundingDebit" serializeAs="String">
        <value>65.9.5.02</value>
      </setting>
      <setting name="RoundingCredit" serializeAs="String">
        <value>75.9.9.03</value>
      </setting>
      <setting name="ExchangeRateDebit" serializeAs="String">
        <value>77.6.1.01</value>
      </setting>
      <setting name="ExchangeRateCredit" serializeAs="String">
        <value>67.6.1.01</value>
      </setting>
      <setting name="FunctionDebit" serializeAs="String">
        <value>97.2</value>
      </setting>
      <setting name="FunctionCredit" serializeAs="String">
        <value>79.1.1.02</value>
      </setting>
      <setting name="ResultDebit" serializeAs="String">
        <value>59.1.1.01</value>
      </setting>
      <setting name="ResultCredit" serializeAs="String">
        <value>59.2.1.01</value>
      </setting>
    </Integrador.My.MySettings>
  </userSettings>
  <system.diagnostics>
    <sources>
      <source propagateActivity="true" name="System.ServiceModel" switchValue="Information, ActivityTracing">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
      <source name="System.ServiceModel.MessageLogging" switchValue="Warning,ActivityTracing">
        <listeners>
          <add name="ServiceModelMessageLoggingListener">
            <filter type="" />
          </add>
        </listeners>
      </source>
    </sources>
    <sharedListeners>
      <add initializeData="C:\temp\WCFLogs\ServerWCFTraces.svclog" type="System.Diagnostics.XmlWriterTraceListener, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" name="ServiceModelMessageLoggingListener" traceOutputOptions="Timestamp">
        <filter type="" />
      </add>
    </sharedListeners>
  </system.diagnostics>
</configuration>
