<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ReportGenerator.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDelfinService" closeTimeout="00:50:00"
                    openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
                    maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apps.delfingroupco.com.pe:766/DelfinService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelfinService"
                contract="AppService.IDelfinService" name="BasicHttpBinding_IDelfinService" />
        </client>
    </system.serviceModel>
    <userSettings>
        <ReportGenerator.My.MySettings>
            <setting name="ProcessedPath" serializeAs="String">
                <value>P:\Procesados</value>
            </setting>
        </ReportGenerator.My.MySettings>
    </userSettings>
</configuration>
