<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="OutlookAddIn.Customizations.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>  
    <system.diagnostics>
        <sources>
            <!-- En esta sección se define la configuración del registro para My.Application.Log -->
            <source name="DefaultSource" switchName="DefaultSwitch">
                <listeners>
                    <add name="FileLog"/>
                    <!-- Quite los comentarios de la sección posterior para escribir en el registro de eventos de la aplicación -->
                    <!--<add name="EventLog"/>-->
                </listeners>
            </source>
        </sources>
        <switches>
            <add name="DefaultSwitch" value="Information"/>
        </switches>
        <sharedListeners>
            <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter"/>
            <!-- Quite los comentarios de la sección posterior y reemplace APPLICATION_NAME con el nombre de su aplicación para escribir en el registro de eventos de la aplicación -->
            <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
        </sharedListeners>
    </system.diagnostics>

    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IDelfinService" closeTimeout="00:50:00"
                     openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
                     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
                <binding name="BasicHttpBinding_IPortico" closeTimeout="00:50:00"
                     openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00"
                     maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://apps.delfingroupco.com.pe:766/DelfinService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDelfinService"
                contract="AppService.IDelfinService" name="BasicHttpBinding_IDelfinService" />
            <endpoint address="http://apps.delfingroupco.com.pe:766/Portico.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPortico"
                contract="PorticoService.IPortico" name="BasicHttpBinding_IPortico" />
        </client>
    </system.serviceModel>
    <userSettings>
        <OutlookAddIn.Customizations.MySettings>
            <setting name="RootPath" serializeAs="String">
                <value>C:\Portico</value>
            </setting>
            <setting name="WebServiceURL" serializeAs="String">
                <value>http://apps.delfingroupco.com.pe:766/DelfinService.svc</value>
            </setting>
            <setting name="ProcessedPath" serializeAs="String">
                <value>C:\Portico\Procesados</value>
            </setting>
            <setting name="LogFilePath" serializeAs="String">
                <value>C:\Portico\Eventos</value>
            </setting>
            <setting name="QueuePath" serializeAs="String">
                <value>C:\Portico\Pendientes</value>
            </setting>
            <setting name="LayoutPath" serializeAs="String">
                <value>C:\Portico\Plantillas</value>
            </setting>
            <setting name="MailSupport" serializeAs="String">
                <value>itsupport@delfingroupco.com.pe</value>
            </setting>
        </OutlookAddIn.Customizations.MySettings>
    </userSettings>
</configuration>
