<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
      <section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false"/>
    </sectionGroup>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebTesting.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <applicationSettings>
    <DevExpress.LookAndFeel.Design.AppSettings>
      <setting name="DefaultAppSkin" serializeAs="String">
        <value>Skin/Office 2019 Colorful</value>
      </setting>
      <setting name="DefaultPalette" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchUI" serializeAs="String">
        <value></value>
      </setting>
      <setting name="TouchScaleFactor" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DirectX" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterUserSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="RegisterBonusSkins" serializeAs="String">
        <value></value>
      </setting>
      <setting name="FontBehavior" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DefaultAppFont" serializeAs="String">
        <value></value>
      </setting>
      <setting name="DPIAwarenessMode" serializeAs="String">
        <value></value>
      </setting>
    </DevExpress.LookAndFeel.Design.AppSettings>
  </applicationSettings>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2"/>
  </startup>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IOnLineService" closeTimeout="00:50:00" openTimeout="00:50:00" receiveTimeout="00:50:00" sendTimeout="00:50:00" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://apps.delfingroupco.com.pe:767/OnLineService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOnLineService" contract="OnlineService.IOnLineService" name="BasicHttpBinding_IOnLineService"/>
    </client>
  </system.serviceModel>
  <userSettings>
    <WebTesting.My.MySettings>
      <setting name="DaysInterval" serializeAs="String">
        <value>12</value>
      </setting>
      <setting name="TimeRefresh" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="LookAndFeel" serializeAs="String">
        <value>Blue</value>
      </setting>
      <setting name="SpeechEnabled" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppName" serializeAs="String">
        <value>ConsultaNaves</value>
      </setting>
      <setting name="PaintStyle" serializeAs="String">
        <value>ExplorerBar</value>
      </setting>
      <setting name="pathpdfFacturas" serializeAs="String">
        <value>\\30.0.0.10\FacturacionElectronica\pdf\Facturas\</value>
      </setting>
      <setting name="pathpdfBoletas" serializeAs="String">
        <value>\\30.0.0.10\FacturacionElectronica\pdf\Boletas\</value>
      </setting>
      <setting name="pathpdfNotasCredito" serializeAs="String">
        <value>\\30.0.0.10\FacturacionElectronica\pdf\NotasCredito\</value>
      </setting>
      <setting name="TaxCode" serializeAs="String">
        <value>20516667550</value>
      </setting>
      <setting name="pathpdfRecibos" serializeAs="String">
        <value>\\30.0.0.10\FacturacionElectronica\pdf\Recibos\</value>
      </setting>
      <setting name="SharePoint_User" serializeAs="String">
        <value>sharepoint@delfingroupco.com.pe</value>
      </setting>
      <setting name="SharePoint_Password" serializeAs="String">
        <value>Delf1nGroup</value>
      </setting>
      <setting name="SharePoint_Url" serializeAs="String">
        <value>https://delfingrouppe.sharepoint.com/sites/ITSupport</value>
      </setting>
    </WebTesting.My.MySettings>
  </userSettings>
</configuration>
